<header>{{header}}</header>

<div class="container content">
    <h1>The Burger App!</h1>
    <h4>Place your desired burger on the space below to order, then click on "devour it" to store it as a favorite.</h4>


    {{> addBurger }}
    
    <div class="content-burger">
        {{#each result}} {{> displayBurger }}{{/each}}
    </div>

</div>